<!DOCTYPE html>
<html lang="pt-br" ng-app="myHeroTraining">
<head>
	<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGyNOT4gPXsEnP-B9jcrXNym1qfoNniMU"></script>
  
    <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <meta name="viewport" content="width=device-width">
    <script src="./js/lib/angular.min.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGyNOT4gPXsEnP-B9jcrXNym1qfoNniMU"></script>
    <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> -->
          <script src="https://secure.mlstatic.com/sdk/javascript/v1/mercadopago.js"></script>
    <!-- <link href="./css/bootstrap.min.css"></link> -->
    <script src="./js/main.js"></script>
    <script src="./js/services/TreinoService.js"></script>
    <script src="./js/services/homeService.js"></script>    
    <script src="./js/services/cadastroUsuarioService.js"></script>

    <script src="./js/services/TreinoPersonalizadoService.js"></script>

    <script src="./js/services/desempenhoService.js"></script>
    <script src="./js/controllers/desempenhoController.js"></script>
    <link rel="stylesheet" href="./css/desempenho.css">
    <script src="./js/services/loginService.js"></script>
    <script src="./js/services/amigosService.js"></script>
    <script src="./js/services/perfilService.js"></script>
    <script src="./js/services/avatarService.js"></script>
    <script src="./js/controllers/PerfilController.js"></script>
    <script src="./js/services/classificacaoService.js"></script>
    <script src="./js/services/treinoConjuntoService.js"></script>
    <script src="./js/controllers/AdicionarAmigosController.js"></script>
    <script src="./js/controllers/TreinoPersonalizadoInicioController.js"></script>
    <script src="./js/controllers/AmigosController.js"></script>
    <script src="./js/controllers/SolicitacoesController.js"></script>
    <script src="./js/controllers/login-controller.js"></script>
    <script src="./js/controllers/IndexController.js"></script>
    <script src="./js/controllers/treinoPersonalizadoController.js"></script>
    <script src="./js/controllers/TreinoController.js"></script>
    <script src="./js/controllers/TreinoConjuntoController.js"></script>
    <script src="./js/controllers/classificacaoController.js"></script>
    <script src="./js/controllers/modal.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="./js/controllers/CadastroUsuarioController.js"></script>
    <script src="./js/lib/angular-route.min.js"></script>



    


    <script src="./js/utilitarios/internacionalizacao.js"></script>

    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>

    <script src="./js/angular-translate/dist/angular-translate.min.js"></script>
             
    <script type="text/javascript" src="https://www.gstatic.com/s/loader.js"></script>
    <script src="./js/angular-sanitize/angular-sanitize.min.js"></script>
   
    <script src="./js/angular-sanitize/angular-sanitize.min.js"></script>

    <script src="./js/controllers/recoverPassword.js"></script>
   <script src="./js/controllers/confirmEmailController.js"></script>
   <script src="./js/controllers/PagamentoController.js"></script>
          <script src="./js/services/caminhadaService.js"></script>
          <script src="./js/controllers/CaminhadaController.js"></script>
   <!-- <link href="./css/imgs.css"></link>-->
   <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script src="./js/lib/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-touch.js"></script>

    <!-- js do menu avatar -->

   <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> 
<!-- js do menu avatar -->

   <script>
       $(document).ready(function() {

var menu = $("#header-menu");
var dropdown = $("#dropdownmenu");
var bubble = $("#notification-bubble");

menu.click( function(event) {
    event.stopPropagation();
    dropdown.toggle();
});

// body click closes menu
$("body").click( function() {
    dropdown.hide();
});

// determine if there are any notifications, display bubble if applicable
if ( detectNotifications() ) {
    setTimeout(displayNotificationBubble, 2500);
}

function detectNotifications() {
    var bubbleTextLength = bubble.find('span').text().length;
    if (bubbleTextLength > 0) {
        return true;
    }
    else {
        return false;		
    }
}


function displayNotificationBubble() {
    var bubbleText = bubble.find('span');
    var bubbleTextWidth = bubbleText.outerWidth();
    var singleCharWidth = bubbleTextWidth / bubbleText.text().length;
    var textIndent = bubbleText.css('text-indent').substr(0, bubbleText.css('text-indent').length-2)-1;
    var initialBubbleWidth = parseInt(bubble.outerWidth());
    
    var desiredLeftMargin = bubbleTextWidth + (textIndent*2);
    avatar.animate({
        marginLeft: desiredLeftMargin
    }, 500);
    
    var desiredBubbleWidth = initialBubbleWidth + bubbleTextWidth + singleCharWidth;
    bubble.animate({
        width: desiredBubbleWidth
    }, 500);
}
}); 
   </script>






    <!-- <link rel="stylesheet" href="./css/pagamento.css">
    <link rel="stylesheet" href="./css/internacionalizacao.css">
    <link href="./css/homeEstilo.css"></link>
     -->

    <link href="./css/bootstrapEdited.css" rel="stylesheet">
    


</head>
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">


        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow,"

                    ng-controller="PageCtrl">

                    <a href="#/principal" class="navbar-brand " ng-show="exibirSemLogin()" title="home">
                        <img src="./imagem/logo.png"> MyHeroTraining
            
                    </a>
                    <a href="#/home" class="navbar-brand" ng-show="exibircomLogin()" title="home">MyHeroTraining
                        <img src="./imagem/logo.png">
            
                    </a>

                    <!-- menu com e sem login -->

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto" ng-show="exibirSemLogin()">
                    <li class="nav-item active">
                        <a class="nav-link" href="#/login">Login <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a translate="HEADER.MENU.REGISTER" class="nav-link" href="#/Cadastro">Cadastre-se <span class="sr-only">(current)</span></a>
                    </li>
                </ul>


                <div class="dropdown " ng-controller="PageCtrl">
                    <button class="btn btn-light dropdown-toggle" type="button"
                        id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Selecione o
                        Idioma</button>
                        <div id="google_translate_element" style="display: none;"></div>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="combobox_idioma" >
                        <a href="javascript:trocarIdioma('pt')" class="dropdown-item">Português</a>
                      <!--   <a href="javascript:trocarIdioma('es')" class="dropdown-item">Espanhol</a> -->
                        <a href="javascript:trocarIdioma('en')" class="dropdown-item">Inglês</a>
                      <!--   <a href="javascript:trocarIdioma('fr')" class="dropdown-item">Francês</a> -->

                    </div>

                 </div>
                    
                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                   

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        


                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- <div class="header-menu" >
                            <button class="btn btn-light dropdown-toggle">{{nome}}</button>
                            <ul id="dropdownmenu">
                                <li ng-show="ispagante()"><a href="#/pagamento"><span class="icon icon-user"></span>Seja Premium</a></li>
                                <li><a href="#perfil"><span class="icon icon-user"></span>Perfil</a></li>
                                <li><a href="#desempenho"><span class="icon icon-user-tie"></span>Desempenho</a></li>
                                <li><a href="#caminhada"><span class="icon icon-user"></span>Caminhada</a></li>
                                <li><a href="#amigos"><span class="icon icon-list"></span>Meus Amigos<span class="not" ng-show="notAmizade>0">{{notAmizade}}</span></a></li>
                                <li><a href="#classificacao"><span class="icon icon-users2"></span>Classificação</a></li>
                                <li ng-show="exibePersonalizado()"><a href="#meu-treino"><span class="icon icon-stopwatch"></span>Treino Personalizado</a></li>
                                <li ng-hide="false"><a href="#treino-conjunto/"><span class="icon icon-stopwatch"></span>Treino Conjunto<span class="not" ng-show="notTreino>0">{{notTreino}}</span></a></li>
                                <li><a href="#/descricaoTreino"><span class="icon icon-stopwatch"></span>Exercícios</a></li>
                                <li><a href="#/" ng-click="logout()" type="submit"><span class="icon icon-exit"></span>Sign Out</a></li>
                            </ul>
                        </div> -->

                        

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{nome}}</span>
                                <img ng-init="carregaAvatar()" class="header-avatar img-profile rounded-circle" id="header-avatar"
                                    src="{{avatar}}">
                            </a>
                            
                            
                            
                            <!-- Dropdown - User Information -->
                        
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" ng-show="exibircomLogin()"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#/login">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Login
                                </a>
                               <!-- <a class="dropdown-item" ng-show="ispagante()" href="#pagamento">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Seja Premium
                                </a> -->
                                <a class="dropdown-item" href="#perfil">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Perfil
                                </a>
                                <a class="dropdown-item" href="#desempenho">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Desempenho
                                </a>
                                <a class="dropdown-item" href="#caminhada">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Caminhada
                                </a>
                           
                                <a class="dropdown-item" href="#amigos">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    <span class="not" ng-show="notAmizade>0">{{notAmizade}}</span>
                                    Meus Amigos
                                </a>
                                

                                <a class="dropdown-item" href="#classificacao">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Classificação
                                </a>

                              
                                <a class="dropdown-item" ng-show="exibePersonalizado()" href="#meu-treino">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Treino Personalizado
                                </a>
                                
                             
                                <a class="dropdown-item" ng-hide="false" href="#treino-conjunto">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    <span class="not" ng-show="notTreino>0">{{notTreino}}</span>
                                    Treino Conjunto
                                </a>


                                <a class="dropdown-item" href="#descricaoTreino">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Descrição Exercícios
                                </a>

                               

                                
                                <!-- <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a> -->
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#/" ng-click="logout()" type="submit">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                
                    <!-- Content Row -->
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-12 col-md-12 mb-4">
                            <ng-view>
                            </ng-view>
                        </div>
                    </div>

                    <!-- Content Row -->


                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <!-- <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div> -->
                <footer class="sticky-footer bg-white" >
                    <div class="container">
                        <div class="row my-auto">
                            <div class="col-12 col-md my-auto">
                                <img src="./imagem/logo.png">
                                <small class="d-block mb-3 text-muted"> 2020-2021
                                </small>
                            </div>
                            <div class="col-6 col-md">
                                <h5>Twitter</h5>
                                <ul class="list-unstyled text-small">
                                    <li><a class="text-muted" href="https://twitter.com/MyHeroTraining">@MyHeroTraining</a></li>
                
                                </ul>
                            </div>
                          
                            <div class="col-6 col-md">
                                <h5>Contato</h5>
                                <ul class="list-unstyled text-small">
                                    <li><a class="text-muted" href="">projetomyhero@gmail.com</a></li>
                
                                </ul>
                            </div>
                
                            <div class="col-6 col-md">
                                <h5>Cadastre-se</h5>
                                <ul class="list-unstyled text-small">
                                    <li><a class="text-muted" href="#Cadastro">Comece a Treinar</a></li>
                
                                </ul>
                            </div>
                        </div>
                    </div>

                            
                                </footer>
                

            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
   <!--  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Deseja sair?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Selecione "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div> -->

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>

    
</body>

</html>