<style>
.not {
padding: 5px 10px;
border-radius: 50%;
background: dodgerblue;
color: white;
}
</style>

    <ul class="nav nav-tabs" ng-controller="PageCtrl" ng-show="exibircomLogin()">
      <li class="nav-item">
        <a class="nav-link"  href="#/amigos/">Meus Amigos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active"  href="#/adicionar-amigos/">Adicionar Amigo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/solicitacoes">Solicitações<span class="not" ng-show="notAmizade>0">{{notAmizade}}</span></a>
      </li>
    </ul>

<section class="hero hero--inverse"></section>
<section class="leaderboard-progress">
  <div class="contain text-center">

  <div style="padding-top: 2em">
    <h2>Adicionar novos Amigos</h2>
  </div>
<!--  colocar aqui form para digitar email e botão enviar request -->



<div>
  <div>
    
    <form role="form" autocomplete="on" class="form" method="post" ng-submit="enviar()">
      <div style="padding-top: 2em">
        <input type="email" placeholder="Digite o e-mail" ng-model="email"/ required> 
      </div>
      <br>
      <div style="padding-top: 1em">
        <button type="submit" class="btn btn-secondary pull-right">Enviar Solicitação de Amizade</button>
      </div>
    </form>
    
    <!-- <div id="homies_wrap">
      <h2>Solicitações enviadas</h2>
      <input type="text" placeholder="Procurar convite" ng-model="findFriend" />
      <ul>
        <li ng-repeat="friend in friends | filter:findFriend | orderBy:friend.name" ng-model="listName">
          <span ng-hide="editing">{{ friend.name }} - {{ friend.desc }}</span><br>
          <button ng-click="removeFriend($index)" class="remove_friend">Remove {{friend.name}}</button> 
          <button ng-click="editing = !editing" ng-hide="editing" class="edit_friend">Edit {{friend.name}}</button>
          <button ng-click="editing = !editing" ng-show="editing" class="done_friend">Done</button><br />

          <input type="text" placeholder="Edit name" ng-show="editing" ng-model="friend.name" ng-class="{'this_item': editing}" ng-change="friend.edited = true" />
          <input type="text" placeholder="Edit description" ng-show="editing" ng-model="friend.desc" ng-change="friend.edited = true" />
        </li>
      </ul>
    </div> -->
    
    <!-- <div id="edited_homie_wrap">
      <h2>Edited Homies</h2>
      <ul>
        <li ng-repeat="friend in friends | filter:{edited:true}">
          {{friend.name}}
        </li>
      </ul>
    </div> -->
    
  </div>
</div>
  </div>
