<div class="container">
    <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                        <div class="text-center">
                            <br>
                            <h3 span translate="HEADER.DESCRICAOTREINO.TITULO">MyHeroTraining - Treinos Funcionais </h3></br>
                        </div>
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                        <div class="col-lg-12 text-center">
                            <h6 class="section-subheading text-muted">Aqui você encontra um informativo
                                sobre quais são os 
                                exercícios que a aplicação abrange, músculatura trabalhada e benefícios.
                                Para começar a treinar e a ganhar pontos 
                                <a class="btn-link" href="#/home">clique aqui!</a>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                </div>
            </div>
        </div>
    </div>

    
    <span>
        <section class="page-section" id="exercicios">
            <div class="container" id="container-sobreNos">
                <div class="row">
                    


                    <br>
                    <div class="card shadow mb-4">
                        <!-- Card Header - Accordion -->
                        <div class="d-block card-header py-3">
                            <h3 class="m-0 font-weight-bold text-primary">Polichinelo</h3>
                        </div>
                        <!-- Card Content - Collapse -->
                        <div class="collapse show" id="corpo1">
                            <div class="card-body">
                                <p> Polichinelo é um exercício físico, usado principalmente para alongar e aquecer os
                                    músculos dos membros posteriores e inferiores,
                                    braços e pernas. Trabalha coordenação motora e envolve movimentos dos membros superiores
                                    e inferiores.
                                </p>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="card shadow mb-4" id="abducaoquadrildeitado">
                        <!-- Card Header - Accordion -->
                        <div class="d-block card-header py-3">
                            <h3 class="m-0 font-weight-bold text-primary">Abdução de Quadril Deitada</h3>
                        </div>
                        <!-- Card Content - Collapse -->
                        <div class="collapse show" id="corpo1">
                            <div class="card-body">
                                <p> A abdução de quadril é um exercício que trabalha glúteos máximo, médio, mínimo e o
                                    músculo tensor
                                    da fáscia lata.
                                    Ajuda na estabilização do quadril e do joelho e previne lesões.
                                </p>
                            </div>
                        </div>
                    </div>




                    <div class="card shadow mb-4" id="abducaoquadrillateraldeitada">
                        <!-- Card Header - Accordion -->
                        <div class="d-block card-header py-3">
                            <h3 class="m-0 font-weight-bold text-primary">Abdução de Quadril Lateral Deitada</h3>
                        </div>
                        <!-- Card Content - Collapse -->
                        <div class="collapse show" id="corpo1">
                            <div class="card-body">
                                <p> Assim como a abdução de quadril, a abdução de quadril lateral deitada é um exercício que
                                trabalha glúteos máximo, médio, mínimo e o músculo tensor
                                da fáscia lata.
                                Ajuda na estabilização do quadril e do joelho e previne lesões.
                            </p>
                            </div>
                        </div>
                    </div>



                    <div class="card shadow mb-4" id="elevacaoquadrila">
                        <!-- Card Header - Accordion -->
                        <div class="d-block card-header py-3">
                            <h3 class="m-0 font-weight-bold text-primary">Elevação Quadril</h3>
                        </div>
                        <!-- Card Content - Collapse -->
                        <div class="collapse show" id="corpo1">
                            <div class="card-body">
                                <p> A elevação de quadril é um exercício principalmente com a função de
                                    fortalecer a região glútea,
                                    o assoalho pélvico.
                                    Além disso, promove estabilidade na articulação do quadril.
                                </p>
                            </div>
                        </div>
                    </div>
                    

                    <div class="card shadow mb-4" id="levantaresentarcadeira">
                        <!-- Card Header - Accordion -->
                        <div class="d-block card-header py-3">
                            <h3 class="m-0 font-weight-bold text-primary">Levantar e Sentar com Cadeira</h3>
                        </div>
                        <!-- Card Content - Collapse -->
                        <div class="collapse show" id="corpo1">
                            <div class="card-body">
                                <p> O exercício levantar e sentar com cadeira utiliza um movimento comum e cotidiano, para o
                                    exercício.
                                    Porém se realizado com orientação esse movimento feito de forma consciente e controlada,
                                    se transforma em um exercício eficiente para fortalecer
                                    p
                            </div>
                        </div>
                    </div>

                   
       
                    
                    <div class="card shadow mb-4" id="stiff">
                        <!-- Card Header - Accordion -->
                        <div class="d-block card-header py-3">
                            <h3 class="m-0 font-weight-bold text-primary">Stiff</h3>
                        </div>
                        <!-- Card Content - Collapse -->
                        <div class="collapse show" id="corpo1">
                            <div class="card-body">
                                <p> O Stiff é um exercício multiarticular que trabalha
                                    principalmente os músculos da parte de trás da coxa (isquiotibiais) e dos glúteos.
                                    Por ação isométrica, em segundo plano, eretores da espinha e extensores lombares também
                                    são utilizados durante o movimento.
                                </p>
                            </div>
                        </div>
                    </div>




                    <div class="card shadow mb-4" id="flexaocotovelo">
                        <!-- Card Header - Accordion -->
                        <div class="d-block card-header py-3">
                            <h3 class="m-0 font-weight-bold text-primary">Flexão de Cotovelo</h3>
                        </div>
                        <!-- Card Content - Collapse -->
                        <div class="collapse show" id="corpo1">
                            <div class="card-body">
                                <p> O exercício de flecão de cotovelo trabalha com flexore, os superficiais
                                    (flexor ulnar do carpo, palmar longo,
                                    flexor radial do carpo e pronador redondo),
                                    intermediários (flexor superficial dos dedos,
                                    flexor profundo dos dedos e flexor longo do polegar)
                                    e profundo (pronador quadrado).
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="card shadow mb-4" id="extensaocotovelo">
                        <!-- Card Header - Accordion -->
                        <div class="d-block card-header py-3">
                            <h3 class="m-0 font-weight-bold text-primary">Extensão de Cotovelo (com cadeira)</h3>
                        </div>
                        <!-- Card Content - Collapse -->
                        <div class="collapse show" id="corpo1">
                            <div class="card-body">
                                <p> No exercício de Extensão de Cotovelo é utilizado uma cadeira, as partes trabalhadas
                                    são tríceps, músculo biarticular (que cruza a articulação do cotovelo e do ombro)
                                    e com contração gera extensão do cotovelo
                                    e extensão do ombro. Fortalece, principalmente, os músculos bíceps braquial, braquial.
                                </p>
                            </div>
                        </div>
                    </div>
               

                    <div class="card shadow mb-4" id="abdominaldeitado">
                        <!-- Card Header - Accordion -->
                        <div class="d-block card-header py-3">
                            <h3 class="m-0 font-weight-bold text-primary">Abdominal Deitado</h3>
                        </div>
                        <!-- Card Content - Collapse -->
                        <div class="collapse show" id="corpo1">
                            <div class="card-body">
                                <p> O exercício ajuda no desenvolvimento e fortalecimento da musculatura do abdome podendo
                                    ser realizado por inciantes.
                                    Os músculos trabalhados são reto abdominal e oblícuos. Pode ser executado deitado,
                                    flexionando as pernas e
                                    deixando-as alinhadas ao quadril, após se posicionar, basta erguer o tronco com a força
                                    dos músculos do abdômen,
                                    nunca chegando tão próximo de encostar os peitos aos joelhos.
                                </p>
                            </div>
                        </div>
                    </div>
               
                    
                    
                    <div class="card shadow mb-4" id="alongamentotriceps">
                        <!-- Card Header - Accordion -->
                        <div class="d-block card-header py-3">
                            <h3 class="m-0 font-weight-bold text-primary">Alongamento Tríceps</h3>
                        </div>
                        <!-- Card Content - Collapse -->
                        <div class="collapse show" id="corpo1">
                            <div class="card-body">
                                <p> O alongamentos de tríceps são alongamentos de braço que trabalham
                                    os grandes músculos na parte de trás dos braços.
                                    Esses músculos são usados ​​para extensão do cotovelo e para estabilizar
                                    o ombro. O tríceps trabalha com o bíceps para realizar movimentos mais fortes do
                                    antebraço.
                                    Eles são um dos músculos mais importantes para o desenvolvimento da força da parte
                                    superior do corpo.
                                    Aumentam a flexibilidade e podem ajudar a prevenir lesões.
                                </p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card shadow mb-4" id="alongamentobiceps">
                        <!-- Card Header - Accordion -->
                        <div class="d-block card-header py-3">
                            <h3 class="m-0 font-weight-bold text-primary">Alongamento Bíceps</h3>
                        </div>
                        <!-- Card Content - Collapse -->
                        <div class="collapse show" id="corpo1">
                            <div class="card-body">
                                <p>
                                    Alongamento de bíceps são alongamentos de braço.
                                    Este exercício alonga sobretudo o músculo o bíceps braquial,
                                    mas também o peitoral maior e a parte anterior do deltoide.
                                    Ajuda na recuperação e prevenir lesões, além de contribuir para
                                    que a musculatura tenha uma maior amplitude de movimento.
    
                                </p>
                            </div>
                        </div>
                    </div>
                  

                    <div class="card shadow mb-4" id="altojoelho">
                        <!-- Card Header - Accordion -->
                        <div class="d-block card-header py-3">
                            <h3 class="m-0 font-weight-bold text-primary">Salto com Elevação de Joelhos</h3>
                        </div>
                        <!-- Card Content - Collapse -->
                        <div class="collapse show" id="corpo1">
                            <div class="card-body">
                                <p>
                                    Exercício de aquecimento com o objetivo de aumentar força, resistência
                                    muscular e mobilidade. Os músculos envolvidos são os gluteos,
                                    músculos posteriores da coxa, quedríceps e tronco.
    
    
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="card shadow mb-4" id="pernauni">
                        <!-- Card Header - Accordion -->
                        <div class="d-block card-header py-3">
                            <h3 class="m-0 font-weight-bold text-primary">Elevação de Perna Unilateral</h3>
                        </div>
                        <!-- Card Content - Collapse -->
                        <div class="collapse show" id="corpo1">
                            <div class="card-body">
                                <p>
                                    O exercício unilateral é qualquer treinamento que envolve
                                    isolar e usar os músculos de um lado do corpo de cada vez.
                                    Tais exercícios ajudam a manter a musculatura forte para melhorar
                                    a performance e prevenir lesões. Fortalece os músculos inferiores e melhora a postura.
                                </p>
                            </div>
                        </div>
                    </div>

                   
                    <div class="card shadow mb-4" id="elevaperna">
                        <!-- Card Header - Accordion -->
                        <div class="d-block card-header py-3">
                            <h3 class="m-0 font-weight-bold text-primary">Elevação de Perna Lateral</h3>
                        </div>
                        <!-- Card Content - Collapse -->
                        <div class="collapse show" id="corpo1">
                            <div class="card-body">
                                <p>
                                    Exercício de elevação de perna em posição lateral, trabalhando músculos como
                                    Quadris, Glúteos, Coxas, Abdominais.
                                    Este exercício, além de ajudar a fortalecer as pernas,
                                    é muito localizado no abdominal inferior e ajuda a ter uma figura mais fina e
                                    tonificada.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="card shadow mb-4" id="avanco">
                        <!-- Card Header - Accordion -->
                        <div class="d-block card-header py-3">
                            <h3 class="m-0 font-weight-bold text-primary">Avanço</h3>
                        </div>
                        <!-- Card Content - Collapse -->
                        <div class="collapse show" id="corpo1">
                            <div class="card-body">
                                <p>
                                    O avanço, que também pode ser chamado de passada é realizado com passadas onde se faz
                                    o movimento de flexão e extensão das pernas e depois dá um passo com o outro pé.
                                    Ou seja,
                                    realiza o exercício caminhando, o que exige um pouco mais de coordenação e equilíbrio.
                                    Fortalece os músculos glúteos e posterior de coxa enquanto adiciona movimento para
                                    treinar o equilíbrio.
                                </p>
                            </div>
                        </div>
                    </div>

                   

                    <div class="card shadow mb-4" id="agacha">
                        <!-- Card Header - Accordion -->
                        <div class="d-block card-header py-3">
                            <h3 class="m-0 font-weight-bold text-primary">Agachamento</h3>
                        </div>
                        <!-- Card Content - Collapse -->
                        <div class="collapse show" id="corpo1">
                            <div class="card-body">
                                <p>
                                    Apesar de muitas vezes ser considerado apenas como um exercício para fortalecimento
                                    da perna, o agachamento trabalha outros músculos
                                    além dos da perna e, assim, promove o fortalecimento
                                    dos músculos abdominais e das costas
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="card shadow mb-4" id="agacha">
                        <!-- Card Header - Accordion -->
                        <div class="d-block card-header py-3">
                            <h3 class="m-0 font-weight-bold text-primary">Agachamento</h3>
                        </div>
                        <!-- Card Content - Collapse -->
                        <div class="collapse show" id="corpo1">
                            <div class="card-body">
                                <p>
                                    Apesar de muitas vezes ser considerado apenas como um exercício para fortalecimento
                                    da perna, o agachamento trabalha outros músculos
                                    além dos da perna e, assim, promove o fortalecimento
                                    dos músculos abdominais e das costas
                                </p>
                            </div>
                        </div>
                    </div>

                   

                    <br>
                    <span>
                        <div id="elevalateral">
                            <h3>Elevação Lateral</h3>
                            <p>
                                Elevação lateral dos braços tem como principal finalidade o desenvolvimento dos
                                deltóides (músculo do ombro). Com apenas dois halteres, é possível trabalhar a
                                musculatura dos deltoides de forma multifuncional, eficiente e isolada.
                                No movimento, praticamente todo o trabalho para erguer o peso é feito pelos ombros.
                            </p>
                        </div>
                    </span>
                    </br>

                    <br>
                    <span>
                        <div id="abducao">
                            <h3> Abdução Deitado</h3>
                            <p>
                                Exercício melhora mobilidade das articulações do quadril, diminui de gordura localizada,
                                e trás o enrijecimento da musculatura dos membros inferiores. O principal músculo
                                trabalhado é o glúteo, envolvendo também quadris e abdômem.
                            </p>
                        </div>
                    </span>
                    </br>

                    <br>
                    <span>
                        <div id="elevafron">
                            <h3> Elevação Frontal</h3>
                            <p>
                                Elevação frontal deitado, este exercício é um exercício isolado que isola a flexão do
                                ombro.
                                Atua principalmente no deltóide anterior, com assistência do serrátil anterior,
                                do bíceps braquial e das partes claviculares do peitoral maior.
                            </p>
                        </div>
                    </span>
                    </br>

                    <br>
                    <span>
                        <div id="abdominalRemador">
                            <h3>Abdominal Remador</h3>
                            <p>O exerício ajuda no desenvolvimento e fortalecimento da musculatura do abdome podendo ser
                                realizado por inciantes.
                                Os músculos trabalhados são reto abdominal e oblícuos.
                                Para realizar o exercício, basta se esticar no solo, com braços e pernas erguidos. Após
                                se posicionar,
                                basta flexionar as pernas ao mesmo tempo que contrai o abdômen em direção aos joelhos.

                            </p>
                        </div>
                    </span>
                    </br>

                    <br>
                    <span>
                        <div id="pulacorda">
                            <h3>Simular Pular Corda</h3>
                            <p>O exerício de simulação de pulo de corda trabalha os músculos do corpo,
                                como os glúteos, e a musculatura das pernas, além de melhorar o condicionamento físico
                                e a coordenação motora.

                            </p>
                        </div>
                    </span>
                    </br>

                    <br>
                    <span>
                        <div id="agachaRota">
                            <h3>Agachamento com Rotação</h3>
                            <p>O exerício ajuda no desenvolvimento e fortalecimento das pernas e glúteos podendo ser
                                realizado por inciantes.
                                quadríceps femural, glúteo médio, glúteo máximo, bíceps femural (posterior da coxa),
                                abdominal e lombar.
                                Com as pernas abertas, afastar os pés à largura dos ombros e apoiá-los totalmente no
                                chão,
                                dobrar os joelhos jogando o quadril para baixo, até ultrapassar ligeiramente a linha do
                                joelho e, empurrar o bumbum para trás
                                mantendo as costas eretas.
                                Quando subir do agachamento, mudar a posição de uma das pernas colocando-a para frente e
                                rotacionar o tronco em direção a perna,
                                alternando entre as pernas a cada vez que fizer o exercício.
                            </p>
                        </div>
                    </span>
                    </br>


                    <br>
                    <span>
                        <div id="elevava4">
                            <h3>Elevação de Pernas em 4 apoios</h3>
                            <p>O exercício de evelavção de Pernas em quatro apoios
                                ajuda com a mobilidade e também ganho de força.
                                Os princípais músculos trabalhados são abdominais,
                                grlúteos, quadris e músculos posteriores da coxa.
                            </p>
                        </div>
                    </span>
                    </br>

                    <br>
                    <span>
                        <div id="flexaotrocouni">
                            <h3>Flexão de Tronco apoio Unipodal </h3>
                            <p>O exerício Flexão de tronco apoio unipodal de uma perna
                                trabalha os músculos abdutores do quadril, principalmente o glúteo médio,
                                aumenta a força do quadril e melhora o equilíbrio
                                Também fortalece o complexo póstero-lateral do quadril que
                                compreende toda a musculatura extensora,
                                abdutora e rotadora lateral do quadril.
                            </p>
                        </div>
                    </span>
                    </br>

                    <br>
                    <span>
                        <div id="flexaotrocouni">
                            <h3>Flexão de Braço </h3>
                            <p>O exerício Flexão de Braço
                                O exercíciode flexão de braço tem como befefício o fortalecimento
                                de músculos ao mesmo tempo sendo eles principalmente peito, tríceps, ombros, lombar e
                                core.
                            </p>
                        </div>
                    </span>
                    </br>

                    <br>
                    <span>
                        <div id="rotacao">
                            <h3>Flexão de Braço </h3>
                            <p>O exerício Flexão de Braço
                                de flexão de braço tem como befefício o fortalecimento
                                de músculos ao mesmo tempo sendo eles principalmente peito, tríceps, ombros, lombar e
                                core.
                            </p>
                        </div>
                    </span>
                    </br>

                    <br>
                    <span>
                        <div id="rotacao">
                            <h3>Rotação Lateral </h3>
                            <p>O exerício de Rotação Lateral deitado melhora principalmente a mobilidade.
                                O exercíciode tem como befefício o fortalecimento
                                de ombros e quadril. Os músculos trabalhados principais são
                                Infraespinhal, Redondo menor, Subescapulares e o secundário Antebraço.
                            </p>
                        </div>
                    </span>
                    </br>


                    <br>
                    <span>
                        <div id="elevaTronco">
                            <h3>Elevação de Tronco </h3>
                            <p>O exerício de Elevação de Tronco trabalha principalmente com o tronco e seu
                                fortalecimento.
                                É bastante eficaz no fortalecimento dos músculos da região lombar,
                                das costas,
                                dos músculos posteriores das coxas e também dos glúteos.
                            </p>
                        </div>
                    </span>
                    </br>

                    <br>
                    <span>
                        <div id="burpee">
                            <h3>Burpee</h3>
                            <p> Flexão-Burpee ou Burpee é um exercício corporal completo
                                de flexão com salto utilizado em treinamento de força e exercício aeróbico.
                                Proporciona diversos benefícios, como o aumento de massa muscular, resistência
                                cardiopulmonar, perda de peso e coordenação motora. Além disso, esse exercício
                                trabalha a musculatura de todo o corpo.
                            </p>
                        </div>
                    </span>
                    </br>

                    <br>
                    <span>
                        <div id="passadas">
                            <h3>Passadas Laterais</h3>
                            <p> O exercício de Passadas Laterais fortalece e define algumas musculaturas
                                pouco estimuladas dos membros inferiores.
                                Como benefício ajuda a ter uma melhor estabilidade das articulações,
                                melhora a mobilização da articulação do quadril e dimui gordura localizada.

                            </p>
                        </div>
                    </span>
                    </br>

                    <br>
                    <span>
                        <div id="avancosalto">
                            <h3>Avanço com Salto</h3>
                            <p> O exercício Avanço
                                com Salto Movimento muito comum no treino de pernas,
                                o avanço é um exercício unilateral e multiarticular que envolve
                                vários músculos
                                ao mesmo tempo, como os das coxas e do glúteo.

                            </p>
                        </div>
                    </span>
                    </br>

                    <br>
                    <span>
                        <div id="elevaQuadrilUni">
                            <h3>Elevação de Quadril Unilateral</h3>
                            <p> O exercício de Elevação de Quadril Unilateral
                                fortalece a região glútea,
                                o assoalho pélvico, e promove estabilidade na articulação do quadril.
                                Envolve isolar e usar os músculos de um lado do corpo de cada vez.
                            </p>
                        </div>
                    </span>
                    </br>

                    <br>
                    <span>
                        <div id="AgachamentoIso">
                            <h3>Aganhamento em Isometria</h3>
                            <p> O exercício de Agachamento em Isometria
                                O movimento é um exercício isométrico, ou seja,
                                baseia-se em usar os músculos do corpo em uma posição fixa durante um período
                                de tempo. Durante o agachamento isométrico vários músculos são envolvidos,
                                como o glúteo, lombar, quadríceps e o abdômen.
                            </p>
                        </div>
                    </span>
                    </br>

                    <br>
                    <span>
                        <div id="panturrilha">
                            <h3>Panturrilha em Pé</h3>
                            <p> O exercício de Panturrilha em Pé
                                auxilia constantemente na caminhada (locomoção),
                                postura e equilíbrio do nosso corpo, tem a importante função de bombear
                                o sangue de volta para o coração, fazendo com que o sangue retorne contra a
                                gravidade em direção a ele.
                            </p>
                        </div>
                    </span>
                    </br>

                    <br>
                    <span>
                        <div id="felxaoParede">
                            <h3>Flexão em Pé na Parede</h3>
                            <p> O exercício de Flexão de Pé na Parede trás os benefícios da flexão
                                Alto gasto energético, por recrutar diferentes grupos musculares ao mesmo tempo.
                                e auxilia na melhora da postura, por fortalecer a musculatura do core,
                                que trabalha bastante para manter o tronco estabilizado durante o movimento.

                            </p>
                        </div>
                    </span>
                    </br>

                    <br>
                    <span>
                        <div id="pranchaLateral">
                            <h3>Prancha Lateral</h3>
                            <p> A Prancha Lateral fortalece os músculos laterais do abdômen e ajudar a tonificar o
                                braço.
                                esse exercício trabalha especificamente a cintura escapular, o braço, os músculos
                                oblíquos e o quadril.
                                É possível ativar profundamente a musculatura do tronco,
                                que é responsável pela manutenção da postura, principalmente do transverso abdominal.
                            </p>
                        </div>
                    </span>
                    </br>

                    <br>
                    <span>
                        <div id="pranchaFrontal">
                            <h3>Prancha Frontal</h3>
                            <p> A Prancha Frontal ativa a musculatura do transverso do abdômen, região responsável
                                por sustentar os órgãos internos e dar base de sustentação para a coluna lombar.
                                Esse exercício consegue trabalhar uma região muito importante do corpo: o core,
                                o cinturão que envolve a região do abdômen a coluna e que é integrado por 29 pares
                                de músculos.
                            </p>
                        </div>
                    </span>
                    </br>

                    <br>
                    <span>
                        <div id="abdominalInfra">
                            <h3>Abdominal Infra</h3>
                            <p>O exerício ajuda no desenvolvimento e fortalecimento da musculatura do abdome podendo ser
                                realizado por inciantes.
                                Os músculos trabalhados são reto abdominal, piramidais, oblíquos, transversoss.
                                Com a coluna apoiada no solo, as mãos precisam estar retas e bem posicionadas.
                                Após se ajustar, basta erguer as pernas lentamente, mantendo elas o mais retas possível.
                            </p>
                        </div>
                    </span>
                    </br>

                    <!--  <br>
    <span>
            <div id="agachaRota">
                <h3>Agachamento com Rotação</h3>
                <p>O exerício ajuda no desenvolvimento e fortalecimento das pernas e glúteos podendo ser realizado por inciantes.
                quadríceps femural, glúteo médio, glúteo máximo, bíceps femural (posterior da coxa), abdominal e lombar.
                Com as pernas abertas, afastar os pés à largura dos ombros e apoiá-los totalmente no chão,
				dobrar os joelhos jogando o quadril para baixo, até ultrapassar ligeiramente a linha do joelho e, empurrar o bumbum para trás
				mantendo as costas eretas.
				Quando subir do agachamento, mudar a posição de uma das pernas colocando-a para frente e rotacionar o tronco em direção a perna,
				alternando entre as pernas a cada vez que fizer o exercício.
                </p>
            </div>
         </span>
    </br></h3>
                <p>O exerício ajuda no desenvolvimento e fortalecimento das pernas e glúteos podendo ser realizado por inciantes.
                quadríceps femural, glúteo médio, glúteo máximo, bíceps femural (posterior da coxa), abdominal e lombar.
                Com as pernas abertas, afastar os pés à largura dos ombros e apoiá-los totalmente no chão,
				dobrar os joelhos jogando o quadril para baixo, até ultrapassar ligeiramente a linha do joelho e, empurrar o bumbum para trás
				mantendo as costas eretas.
				Quando subir do agachamento, mudar a posição de uma das pernas colocando-a para frente e rotacionar o tronco em direção a perna,
				alternando entre as pernas a cada vez que fizer o exercício.
                </p>
            </div>
         </span>
    </br> -->


                    <!-- <br>
    <span>
        <div id="agachaEleva">
                <h3>Agachamento com elevação</h3>
                <p>O exerício ajuda no desenvolvimento e fortalecimento das pernas e glúteos podendo ser realizado por inciantes.
                Os músculos trabalhados são quadríceps femural, glúteo médio, glúteo máximo, bíceps femural (posterior da coxa), abdominal e lombar.
                Com as pernas abertas, afastar os pés à largura dos ombros e apoiá-los totalmente no chão,
				dobrar os joelhos jogando o quadril para baixo, até ultrapassar ligeiramente a linha do joelho e, empurrar o bumbum para trás
				mantendo as costas eretas.
				Quando subir do agachamento, levantar uma das pernas com joelho dobrado até um pouco acima do quadril,
				alternando entre as pernas a cada vez que fizer o exercício.
                </p>
        </div>
         </span>
    </br> -->







                    <!--
     <span>
     <div id="abodiminalRemador" class="fadein">
         <div id="met-cont">
             <h3>O exerício ajuda no desenvolvimento e fortalecimento da musculatura do abdome podendo ser realizado por inciantes.</h3>
             <p>Os músculos trabalhados são reto abdominal e oblícuos.</p>
      </span>
     -->
                </div>
            </div>
        </section>
</div>