
 <div class="container" id="data_historico">
  <h5 id="">Período:</h5>

    <form>
      <label>Inicio:</label>
      <input type="date" required id="dt_inicio" name="inicio" ng-model="model.dt"/>
      <!--input type="submit" /-->
      <label>Fim:</label>
      <input type="date" required  id="dt_fim" name="fim" ng-model="model.df"/>
 
      <div id="combobox_filtro">

        <h5 id="">Filtros:</h5>
        <form>
          <label for="cars">Tipo:</label>
        
          <select  name="Treino" id="tipo_treino">
    
            <option value="0">Treino</option>
            <option value="1">Caminhada</option>
          </select>
            <input type="submit" ng-click="busca()" />
          </form>
      
      </div>
    
    </form>
  
   
</div>





 <div id="position_chart">
<div id="chart" ></div>
<div id="chartDonut" ></div>
</div>
<div>
<div id="btn_pagnicao">
  <nav aria-label="Page navigation example">
  <ul class="pagination" >
    <li class="page-item"><button  class="page-link"  id="anterior" disabled>&lsaquo; Anterior</button></li>
    <span  class="page-link" id="numeracao"></span>
    <li class="page-item" ><button class="page-link" id="proximo" disabled> Próximo &rsaquo;</button></li>
  </ul>

</nav>
</div>
    <table id="table_dados" ng-show="exibir()" class="table">
    <tbody> 
       <div id="btn_pagnicao">
    <nav aria-label="Page navigation example">
    <ul class="pagination" >
      <li class="page-item"><a  class="page-link"  href="#"id="anterior" disabled>&lsaquo; Anterior</a></li>
      <span  class="page-link" id="numeracao"></span>
      <li class="page-item" ><a class="page-link" href="#" id="proximo" disabled> Próximo &rsaquo;</a></li>
    </ul>
  
  </nav>
  </div>
      <thead class="thead-light">
        <th scope="col">#</th>
      <th scope="col">Data</th>
      <th scope="col">Pontuação</th>
      <th scope="col">Exercício Realizado</th>
      <th scope="col" id="th_distancia">Parte Trabalhada</th>
  
      <th id="th_tempo" style="display: none;" scope="col">Tempo</th>
    
    
  </thead>
  </tbody>  
</table>
</div>
  

    <div class="tab-content">
      <div class="tab-pane " id="pontuacao">
        <div class="row tabelas">
         
        </div>
        <div class="text-center mt-3 mt-sm-3" >
          <ul class="pagination justify-content-center mb-0">
            <li class="page-item disabled">
              <span class="page-link">Prev</span>
            </li>
            <li class="page-item active" aria-current="page">
              <span class="page-link">1 </span>
              <span class="sr-only">(current)</span>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </div>
      </div>
      <div class="tab-pane" id="caminhada">
        <div class="row tabelas">
          <table
            
            style="width: 40%"
          
            class="table manage-candidates-top mb-0"
          >
            <tr >
              <th>Data</th>
              <th>Quilometragem</th>
              <th>Tempo gasto</th>
              <th>Pontos</th>
            </tr>
          
        
          </table>
        </div>
        <div class="text-center mt-3 mt-sm-3" >
          <ul class="pagination justify-content-center mb-0">
            <li class="page-item disabled">
              <span class="page-link">Prev</span>
            </li>
            <li class="page-item active" aria-current="page">
              <span class="page-link">1 </span>
              <span class="sr-only">(current)</span>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </div>
      </div>
      <div class="tab-pane" id="exercicios">
        <div class="row">
          <table
            style="width: 40%"
          
            class="table manage-candidates-top mb-0"
          >
            <tr>
             
              <th>Exercício</th>
              <th>Data</th>
              <th>Pontos</th>
            </tr>
            <tr ng-repeat="d in dados">
              <td>{{d.nome_}}</td>
              <td>{{d.datas}}</td>
              <td>{{d.pontos_soma}}</td>
              
            </tr>
           
          </table>
        </div>
        <div class="text-center mt-3 mt-sm-3" >
          <ul class="class="pager >
            <li class="page-item disabled">
              <span class="page-link">Prev</span>
            </li>
            <li class="page-item active" aria-current="page">
              <span class="page-link">1 </span>
              <span class="sr-only">(current)</span>
            </li>
            <li class="page-item"><a class="" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </div>
      </div>
    </div>
  
