<style>
   #teste {
        margin: auto;
        margin-top: 24px;
        margin-bottom: 24px;

    }

    #topo {
        margin-top: 22px;
        justify-content: center;
    }
    #teste{
        width: 100%;
        height: 100%;
        border-radius: 4%;
    }
   .disabled {
       cursor: not-allowed;
       pointer-events: none;
       color: grey;
   }
</style>
<div class="alert alert-warning" role="alert"ng-show="bloqueia()">
    Você está em um treino em conjunto!
   </div>
<div class="card border-primary">
    <h5 class="card-header">Treinos</h5>
    <div class="card-body text-primary">
      <h5 class="card-title">Seu treino do dia!</h5>
      <p class="card-text">Clique no botão "inicar treino" para começar seu treino do dia.
         Ele será composto por uma série de exercícios que você deve completar hoje sequencialmente,
         os gifs irão demonstrar como realizar da forma adequada. Quando você finalizar o card com seu treino do dia
         deverá aguardar o dia seguinte para ser disponibilizado novo treino.

         <p>Você pode convidar amigos da sua lista de amizade para realizar o treino com você, basta clicar
             no botão "treinar em conjunto". Caso realize treino em conjunto não poderá realizar o treino individual
            no mesmo dia. </p>
       
      <p>Analise o desempenho de seus treinos e caminhadas acesando o menu em 'Desempenho' ou
        <a class="btn-link" style="color: #646f79;" href="#/desempenho">clique aqui para ser redirecionado.</a>     
    </p></p>
    </div>
  </div>

<div class="container" ng-init="aviso()">
    
    <div class="card-deck" id="teste"style="width: 45rem;" >
        <div class="card"  ng-repeat="treino in treinos" >
            <img src="{{treino.urlt}}" class="card-img-top" alt="" >
            <div class="card-body" >
                <h2 class="card-text">{{treino.descricaot}}</h2>
                <p class="card-text">{{treino.nomet}}</p>
                <p class="card-text" ><span translate="HEADER.HOME.INTENSIDADE">Intensidade:</span> <b>{{treino.intensidadet}}</b></p>
                <p class="card-text"> <span translate="HEADER.HOME.NIVEL">Nível: </span> <b>{{treino.nivelt}}</b></p>
                <div class="d-flex justify-content-between align-items-center">

                <button button
                type="button"
                class="btn btn-link" ng-disabled="bloqueia()">
                        <a  class="btn btn-sm btn-outline-success" ng-model="inicio" type="button"
                           href="#/treinos/{{treino.idt}}" 
                        >Iniciar Treino</a>                       
    
                        <a ng-class="{disabled: jaSel}"class="btn btn-sm btn-outline-danger" ng-model="inicio" type="button "
                        ng-click ="msg()"
                        href="#/amigos/" 
                     >Treinar em Conjunto</a>                       
      
                </button>
                    
                    <small class="text-muted" id="" ><span translate="HEADER.HOME.TEMPOESTIMADO">Tempo estimado:</span><b> {{treino.horast}}</b></small>
                     <small class="text-muted" id="id_tempo_feito" style="display: none;" >Tempo feito: {{treino.tempot}}
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </small>
                </div>
            </div>
        </div>
        </div-->
    </div>
</div>
</div>

