<div class="container">

  <h1>Editar Perfil</h1>
  <hr>
  <div class="row">
    <!-- left column -->
    <div class="col-md-3">
      <div class="md-padding dialogdemoBasicUsage text-center" id="popupContainer" ng-cloak="">
        <img src="{{avatar}}" class="avatar img-circle" alt="avatar"
             style="width:150px; height: auto;">
        <div class="text-center" style="padding-top: 0.5em">

          <br>
          <select ng-init="selecionado = todosAvatares[avInit]"
                  ng-options="selecao as selecao.name for selecao in todosAvatares" ng-model="selecionado" ng-change="trocarAvatar()">
          </select>
          <br>

        <!--<a href="#/avatar" class="btn btn-primary" >Change Icon</a>-->
        </div>
      </div>
    </div>

    <!-- edit form column -->
    <div class="col-md-9 personal-info">
      <h3>Perfil</h3>

      <form class="form-horizontal" role="form"  name="formulario">
        <div class="form-group" ng-class="form-group">
          <label class="col-lg-3 control-label"  >Nome:</label>
          <div class="col-lg-8">
            <input ng-model="perfil.nome" class="form-control" required type="text" value="{{perfil.nome}}">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Email:</label>
          <div class="col-lg-8">
            <input ng-model="perfil.email" class="form-control" type="email" value="{{perfil.email}}">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Contato</label>
          <div class="col-lg-8">
            <input ng-model="perfil.contato" class="form-control" required type="text" 
            minlength="10"
            maxlength="11"
            value="{{perfil.contato}}">
          </div>
        
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Contato 2</label>
          <div class="col-lg-8">
            <input ng-model="perfil.contato2" class="form-control" type="text" 
            value="{{perfil.contato2}}"
            minlength="10"
            maxlength="11"
           >
            
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Senha</label>
          <div class="col-md-8">
           <a class="btn-sm btn-secondary" href="#/forgot-password">Trocar Senha</a>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <button class="btn btn-primary" ng-click="salvarPerfil()" >Salvar Mudanças</button>
            <span></span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<hr>