<ul class="nav nav-tabs" ng-controller="PageCtrl" ng-show="exibircomLogin()">
    <li class="nav-item">
        <a class="nav-link active"  href="#/treino-conjunto/">Treino em Conjunto</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#/treino-conjunto/solicitacoes">Solicitações</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#/treino-conjunto/resultado">Ultimo Resultado</a>
    </li>
</ul>
    <style>
        #teste {
             margin: auto;
             margin-top: 24px;
             margin-bottom: 24px;
     
         }
     
         #topo {
             margin-top: 22px;
             justify-content: center;
         }
         #teste{
             width: 100%;
             height: 100%;
             border-radius: 4%;
         }
        body{}
        .error-template {padding: 40px 15px;text-align: center;}
        .error-actions {margin-top:15px;margin-bottom:15px;}
        .error-actions .btn { margin-right:10px; }
     </style>
    <div class="container" ng-show="jaFez">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1>
                        Oops!</h1>
                    <div class="error-details">
                        Você já realizou o treino de hoje!
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" ng-hide="jaSel || jaFez">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1>
                        Oops!</h1>
                    <div class="error-details">
                        Nenhum treino em conjunto foi ativo ainda!
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" ng-show="jaSel && !jaFez">
         <div class="card-deck" style="width: 45rem;" id="teste">
             <div class="card"  ng-repeat="treino in treinos" >
                <img src="{{treino.urlt}}" class="card-img-top" alt="" >
                 <div class="card-body" >
                     <h2 class="card-text">{{treino.descricaot}}</h2>
                     <p class="card-text">{{treino.nomet}}</p>
                     <p class="card-text" ><span translate="HEADER.HOME.INTENSIDADE">Intensidade:</span> <b>{{treino.intensidadet}}</b></p>
                     <p class="card-text"> <span translate="HEADER.HOME.NIVEL">Nível: </span> <b>{{treino.nivelt}}</b></p>
                     <div class="d-flex justify-content-between align-items-center">
                         <div class="btn-group">
                             <a class="btn btn-sm btn-outline-success" ng-model="inicio" type="button"
                                href="#/treinos/{{treino.idt}}" translate="HEADER.HOME.INICIAR">Iniciar</a>                       
         
                            
                         </div>
                         <small class="text-muted" id="" ><span translate="HEADER.HOME.TEMPOESTIMADO">Tempo estimado:</span><b> {{treino.horast}}</b></small>
                          <small class="text-muted" id="id_tempo_feito" style="display: none;" >Tempo feito: {{treino.tempot}}
                             <i class="fa fa-check" aria-hidden="true"></i>
                         </small>
                     </div>
                 </div>
             </div>
         </div>
    </div>