<style>
    .not {
padding: 5px 10px;
border-radius: 50%;
background: dodgerblue;
color: white;
}
</style>

<ul class="nav nav-tabs" ng-controller="PageCtrl" ng-show="exibircomLogin()">
    <li class="nav-item">
        <a class="nav-link"  href="#/treino-conjunto/">Treino em Conjunto</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#/treino-conjunto/solicitacoes">Solicitações<span class="not" ng-show="notTreino>0">{{notTreino}}</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="#/treino-conjunto/resultado">Ultimo Resultado</a>
    </li>
</ul>

<div class="container" ng-show="!amigoAguardando && jaFez" ng-init="aviso2()">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Vocês dois fizeram juntos um total de {{resultado}} pontos</h1>
                <div>
                    Parabéns!
                </div>
            </div>
        </div>
    </div>
</div>

