
<ul class="nav nav-tabs" ng-controller="PageCtrl" ng-show="exibircomLogin()">
    <li class="nav-item">
        <a class="nav-link active"  href="#/treino-conjunto/">Treino em Conjunto</a>
    </li>
    <li class="nav-item">

        <a class="nav-link" href="#/treino-conjunto/solicitacoes">Solicitações</a>
    </li>
</ul>


<h2>Treino</h2>
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <div class="people-nearby">

                <div class="nearby-user" ng-repeat="usuario in usuarios">
                    <div class="row">
                        <div class="col-md-2 col-sm-2" ng-init="pegaAvatar(usuario.id)">
                            <img
                                    src="{{avatar}}"
                                    alt="user"
                                    class="profile-photo-lg"
                            />
                        </div>
                        <div class="col-md-7 col-sm-7">
                            <h5><a href="#" class="profile-link">{{usuario.nome}}</a></h5>
                            <p>{{usuario.email}}</p>
                            <p class="text-muted"></p>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <button class="btn btn-primary pull-right" ng-click="aceitarSolicitacao(usuario.id)">Aceitar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>